[submodule "computecpp"]
path=computecpp
url = https://aur.archlinux.org/computecpp.git
[submodule "OpenCL-CLHPP"]
path=OpenCL-CLHPP
url = https://github.com/KhronosGroup/OpenCL-CLHPP
[submodule "openmp"]
path=openmp
url = https://github.com/llvm-mirror/openmp.git
[submodule "sycl-blas"]
path=sycl-blas
url = https://github.com/codeplaysoftware/sycl-blas
[submodule "SyclParallelSTL"]
path=SyclParallelSTL
url = https://github.com/KhronosGroup/SyclParallelSTL
[submodule "triSYCL"]
path=triSYCL
url = https://github.com/triSYCL/triSYCL
